@import '../variables.scss';

.react-search {
  .condition-input-wrapper {
    display: flex;
    height: $tag-height;

    .condition-input-wrapper__element {
      margin: 0 2px;
    }

    .condition-input-wrapper__input-wrapper {
      height: $tag-height;
      
      > * {
        height: inherit;
      }
    }
  }
}