$search-box-border-color: lightgray;
$value-editor-border-color: lightgray;

$tag-height: 25px; // Tags height

$condition-internal-spacing: 1px; // Spacings beetwen tags inside condition
$conditions-spacing: 3px; // Spacing beetwen conditions